.wd-save-page-style {
    background-color: white;
}

.wd-text-color-white {
    color: black;
}

.wd-text-color-grey {
    color: rgb(110, 118, 125);
}

.wd-border-grey {
    border-color: rgb(110, 118, 125);
}

.wd-input-text {
    font-size: 16px;
}

.wd-user-input {
    font-size: 18px;
}

.wd-remove-underline {
    text-decoration: none;
}